.bg{
	background: url(../image/bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
.content{
	width: 65%;
	height: 50%;
	position: fixed;
	left: 17.5%;
	top: 20%;
	background: #fff;
	border-radius: 8px;
}
.contenttest{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gold{
	width: 50%;
	position: relative;
	margin-top: 3rem;
}
.gold img{
	width: 100%;
}
.integral{
	position: absolute;
	width: 7rem;
	left: 2.1rem;
    bottom: 0.9rem;
    color: #fff;
}
.title{
	width: 100%;
	text-align: center;
	color:#f9bb00;
	font-size: 3rem;
	margin-top: 2rem;
}
.achievement{
	width: 100%;
	text-align: center;
	margin: 1.5rem 0;
}
.achievement div{
	line-height: 1.5rem;
}
.raffle{
	width: 100%;
	line-height: 4rem;
	height: 4rem;
	position: absolute;
	bottom: 0;
	text-align: center;
	background: #f9bb00;
	border-radius:  0 0 8px 8px;
	font-size: 2rem;
	color: #fff;
}
