@charset "utf-8";
/* CSS Document */
body{
	background: #fafafa;
}
.dati-header{
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
	height: 50px;
	width:100%;
	line-height: 50px;
	position: fixed;
	top:0;
	left: 0;
}
.dati-header:after{
	display: block;
	content: "";
	clear: both;
}
.dati-time{
	padding-left: 10px;
	display: block;
	float: left;
	width: 180px;
	color: #eb6876;
	font-size: 16px;
}
.dati-header input{
	background: #eb6876;
	width: 100px;
	height: 36px;
	margin-top: 5px;
	float: right;
	color: #fff;
	font-size: 16px;
	font-family: 'microsoft yahei','华文细黑',Verdana,Arial,Helvetica,sans-serif;
	text-align: center;
	line-height: 36px;
	border:1px solid #f5f5f5;
	margin-right: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.panduan{
	padding-left: 10px;
	font-size: 18px;
	text-align: left;
	line-height: 50px;
	color: #333;
}
.panduan-list li{
	background: #fff;
	padding:10px 10px 0 10px;
	color: #333;
	margin-bottom: 10px;
}
.panduan-list li:after{
	display: block;
	content: "";
	clear: both;
}
.panduan-list li p{
	line-height: 24px;

}
.panduan-xuan{
	padding-right: 20px;
	float: left;
	line-height: 40px;
}
.panduan-xuan input{
	margin-right: 5px;
}