a:link{text-decoration:none ; color:white ;}
a:visited {text-decoration:none ; color:white;}
a:hover {text-decoration:none ; color:white;}
a:active {text-decoration:none ; colorwhite;}
.bgl{
	background: url(../image/prizebg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
}
#bg {
    width: 80%;
    margin: 0 auto;
    position: relative;

}
.turntable-bg{
	position: absolute;
	width: 100%;
	top: 13rem;
}
#pointer{
    position: absolute;
    z-index: 10;
    width: 35%;
    left: 32.5%;
    top: 22rem;
}

#turntable{
    position: absolute;
    z-index: 5;
    top: 15rem;
    left: 6.5%;
    transition: all 4s;
    width: 87%;
}
.num{
	width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50rem;
}
.buttons{
	position: absolute;
	top: 52rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.btns{
	width: 50%;
	margin-top: 1rem;
}
