.back{
	height: 4rem;
	width: 100%;
	background: #409cfc;
	color: #FFFFFF;
	line-height: 4rem;
	font-size: 2rem;
	text-align: center;
	position: relative;
}
.backtest{
	position: absolute;
	left: 10px;
	font-size: 1.5rem;
}
.texts{
	width: 85%;
	margin: 0 auto;
	margin-top: 3rem;
}
.content{
	padding-left: 2rem;
}
.text{
	margin-bottom: 1.5rem;
}
h4{
	margin-bottom: 5px;
}
