@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:'microsoft yahei','华文细黑',Verdana,Arial,Helvetica,sans-serif;
	background:#fff;
	width:100%;
	font-size:14px;
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
ul,li,img,a,p,b,input,button{
    margin:0;
    padding:0;
    list-style-type:none;
}
.clear{
	clear: both;
}
input{
	border-radius:0;
	}
input:focus{
	border: none;
	outline: medium;
}

a{text-decoration:none}
a:hover{text-decoration:none}
.header{
	width:100%;
	position:relative;
	}
.header img{
	width:100%;
	position:relative;
	max-height:300px;
}
.title1{
	text-align:center;
	font-size:16px;
	color:#fff;
	top:100px;
	position:absolute;
	width:100%;
}
.title2{
	text-align:center;
	font-size:30px;
	color:#fff;
	top:130px;
	position:absolute;
	width:100%;
}
.common-wrapper{
	padding-top: 51px;
	padding-bottom: 50px;
	width:100%;
	height:auto;
	
	}
/*login*/
.login-index{
	padding:30px;
}
.login-yong{
	width:100%;
	height:40px;
	border-bottom:1px solid #dbdbdb;
	padding-bottom:10px;
}
.login-biao{
	height:100%;
	width:20%;
	display: block;
	float: left;
}
.login-tijiao{
	border-radius:3px;
	height:40px;
	margin:10px;
	background:#f9671e;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:16px;
	}
.login-zhuce{
	border-radius:3px;
	height:40px;
	margin:10px;
	background:#3b5999;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:16px;
}
.login-tu{
	height: 30px;
	margin-top: 10px;
}
.shuru{
	display: block;
	float: right;
	width: 80%;
	border: none;
	line-height: 50px;
	font-size: 14px;
	color:#333;
}
.login-mi{
	width:100%;
	height:40px;
	border-bottom:1px solid #dbdbdb;
	padding-bottom:10px;
	padding-top: 20px;
}
.login-ji{
	height: 24px;
	padding-top: 5px;
	padding-bottom: 20px;
}
.login-ji span{
	line-height: 24px;
	font-size: 12px;
	color: #999;
}
/*index*/
.index-bei{
	background:#387cb6;
	height: 100%;
	width: 100%;
}
.index-head{
	height: 130px;
	padding-top: 50px;
}
.index-head img{
	width: 100%;
	margin-top: 20px;
	opacity: 0.7
}
.index-one{
	text-align: center;
	font-size:18px;
	color: #fff;
	font-family: 楷体,'kaiti';
	line-height: 45px;
	text-shadow: 3px 3px 3px #333;
	filter:shadow(Color=#333,Direction=3,Strength=3)
}
.index-two{
	text-align: center;
	font-size:22px;
	color: #fff;
	font-family: 楷体,'kaiti';
	font-weight: bold;
	text-shadow: 3px 3px 3px #333;
	filter:shadow(Color=#333,Direction=3,Strength=3)
}
.index-nei{
	padding: 30px;
}
.index-botton{
	border-radius:3px;
	height:44px;
	margin:20px;
	color:#333;
	background: #fff;
	text-align:center;
	line-height:44px;
	font-size:16px;
}
.kaida{
	background:#d6312d;
}
.chengcha{
	background:#f9671e;
}
.cuoti{
	background:#3b5998;
}
.xiumi{
	background:#6f6f6f;
}
