.bg{
	background: url(../image/winning.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
.winning{
	position: fixed;
	width: 80%;
	left: 10%;
	top: 18rem;
}
.red{
	width: 100%;
}
.close{
	position: absolute;
	top: 0;
    right: 0;
}
.close img{
	width: 1.5rem;

}
.money{
	color: #f22836;
	position: absolute;
	left: 8rem;
    font-size: 3.5rem;
    top: 10rem;
}
.wrap{
	position: relative;
}
.buttons{
	padding: 0.5rem 2rem;
	border: 1px solid #fff;
	border-radius: 6px;
	width: 50%;
	text-align: center;
	color: #fff;
	position: absolute;
	left: 25%;
	bottom: 1rem;
}
