<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hnzxl.exam.project.dao.ExaminationMapper">
	<resultMap id="BaseResultMap" type="cn.hnzxl.exam.project.model.Examination">
		<id column="examination_id" property="examinationId" jdbcType="BIGINT" />
		<result column="examination_category_id" property="examinationCategoryId" jdbcType="VARCHAR" />
		<result column="examination_subject" property="examinationSubject" jdbcType="VARCHAR" />
		<result column="examination_content" property="examinationContent" jdbcType="VARCHAR" />
		<result column="examination_start_time" property="examinationStartTime" jdbcType="TIMESTAMP" />
		<result column="examination_end_time" property="examinationEndTime" jdbcType="TIMESTAMP" />
		<result column="examination_time_length" property="examinationTimeLength" jdbcType="INTEGER" />
		<result column="examination_score" property="examinationScore" jdbcType="INTEGER" />
		<result column="examination_status" property="examinationStatus" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		examination_id, examination_category_id, examination_subject, examination_content,
		examination_start_time,
		examination_end_time, examination_time_length, examination_score,
		examination_status
	</sql>

	<sql id="Base_Dynamic_Where">
		<where> 
			<if test="@Ognl@isNotEmpty(examinationCategoryId)">
				AND examination_category_id = #{examinationCategoryId}
			</if>
			<if test="@Ognl@isNotEmpty(examinationSubject)">
				AND examination_subject like #{examinationSubject}
			</if>
			<if test="@Ognl@isNotEmpty(examinationContent)">
				AND examination_content like #{examinationContent}
			</if>
			<if test="@Ognl@isNotEmpty(examinationStartTime)">
				AND examination_start_time = #{examinationStartTime}
			</if>
			<if test="@Ognl@isNotEmpty(examinationEndTime)">
				AND examination_end_time = #{examinationEndTime}
			</if>
			<if test="@Ognl@isNotEmpty(examinationTime)">
				AND examination_start_time &lt;= #{examinationTime}
				AND examination_end_time &gt;= #{examinationTime}
			</if>
			
			<if test="@Ognl@isNotEmpty(examinationTimeLength)">
				AND examination_time_length = #{examinationTimeLength}
			</if>
			<if test="@Ognl@isNotEmpty(examinationScore)">
				AND examination_score = #{examinationScore}
			</if>
			<if test="@Ognl@isNotEmpty(examinationStatus)">
				AND examination_status = #{examinationStatus}
			</if>
		</where>
	</sql>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from examination
		<include refid="Base_Dynamic_Where" />
		<if test="@Ognl@isNotEmpty(sortField)">
			order by ${sortField} ${sortOrder}
		</if>
		<if test="@Ognl@isEmpty(sortField)">
			order by examination_subject desc
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from examination
		where examination_id = #{examinationId}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from examination
		where examination_id =
		#{examinationId}
	</delete>
	<insert id="insert" parameterType="cn.hnzxl.exam.project.model.Examination"  useGeneratedKeys="true" keyProperty="examinationId">
		insert into examination (examination_id, examination_category_id,
		examination_subject, examination_content,
		examination_start_time, examination_end_time,
		examination_time_length,
		examination_score,
		examination_status)
		values (#{examinationId},
		#{examinationCategoryId},
		#{examinationSubject},
		#{examinationContent},
		#{examinationStartTime},
		#{examinationEndTime},
		#{examinationTimeLength},
		#{examinationScore},
		#{examinationStatus})
	</insert>
	<insert id="insertSelective" parameterType="cn.hnzxl.exam.project.model.Examination" useGeneratedKeys="true" keyProperty="examinationId">
		insert into examination
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="examinationId != null">
				examination_id,
			</if>
			<if test="examinationCategoryId != null">
				examination_category_id,
			</if>
			<if test="examinationSubject != null">
				examination_subject,
			</if>
			<if test="examinationContent != null">
				examination_content,
			</if>
			<if test="examinationStartTime != null">
				examination_start_time,
			</if>
			<if test="examinationEndTime != null">
				examination_end_time,
			</if>
			<if test="examinationTimeLength != null">
				examination_time_length,
			</if>
			<if test="examinationScore != null">
				examination_score,
			</if>
			<if test="examinationStatus != null">
				examination_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="examinationId != null">
				#{examinationId},
			</if>
			<if test="examinationCategoryId != null">
				#{examinationCategoryId},
			</if>
			<if test="examinationSubject != null">
				#{examinationSubject},
			</if>
			<if test="examinationContent != null">
				#{examinationContent},
			</if>
			<if test="examinationStartTime != null">
				#{examinationStartTime},
			</if>
			<if test="examinationEndTime != null">
				#{examinationEndTime},
			</if>
			<if test="examinationTimeLength != null">
				#{examinationTimeLength},
			</if>
			<if test="examinationScore != null">
				#{examinationScore},
			</if>
			<if test="examinationStatus != null">
				#{examinationStatus},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.hnzxl.exam.project.model.Examination">
		update examination
		<set>
			<if test="examinationCategoryId != null">
				examination_category_id = #{examinationCategoryId},
			</if>
			<if test="examinationSubject != null">
				examination_subject = #{examinationSubject},
			</if>
			<if test="examinationContent != null">
				examination_content = #{examinationContent},
			</if>
			<if test="examinationStartTime != null">
				examination_start_time = #{examinationStartTime},
			</if>
			<if test="examinationEndTime != null">
				examination_end_time = #{examinationEndTime},
			</if>
			<if test="examinationTimeLength != null">
				examination_time_length = #{examinationTimeLength},
			</if>
			<if test="examinationScore != null">
				examination_score = #{examinationScore},
			</if>
			<if test="examinationStatus != null">
				examination_status = #{examinationStatus},
			</if>
		</set>
		where examination_id = #{examinationId}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.hnzxl.exam.project.model.Examination">
		update examination
		set examination_category_id =
		#{examinationCategoryId},
		examination_subject = #{examinationSubject},
		examination_content = #{examinationContent},
		examination_start_time =
		#{examinationStartTime},
		examination_end_time = #{examinationEndTime},
		examination_time_length = #{examinationTimeLength},
		examination_score =
		#{examinationScore},
		examination_status = #{examinationStatus}
		where examination_id =
		#{examinationId}
	</update>
</mapper>