<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hnzxl.exam.project.dao.HeadlineMapper">
	<resultMap id="BaseResultMap" type="cn.hnzxl.exam.project.model.Headline">
		<id column="headline_id" property="headlineId" jdbcType="BIGINT" />
		<result column="headline_examination_id" property="headlineExaminationId" jdbcType="VARCHAR" />
		<result column="headline_examination_name" property="headlineExaminationName" jdbcType="VARCHAR" />
		<result column="headline_headline_subject" property="headlineHeadlineSubject" jdbcType="VARCHAR" />
		<result column="headline_examination_content" property="headlineExaminationContent" jdbcType="VARCHAR" />
		<result column="headline_question_count" property="headlineQuestionCount" jdbcType="INTEGER" />
		<result column="headline_score" property="headlineScore" jdbcType="INTEGER" />
		<result column="headline_pattern" property="headlinePattern" jdbcType="INTEGER" />
		<result column="headline_answer_pattern" property="headlineAnswerPattern" jdbcType="INTEGER" />
		<result column="headline_sort" property="headlineSort" jdbcType="INTEGER" />
		<result column="headline_question_type" property="headlineQuestionType" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		headline_id, headline_examination_id, headline_headline_subject, headline_examination_content,
		headline_question_count, headline_score, headline_pattern, headline_answer_pattern,
		headline_sort,headline_question_type
	</sql>

	<sql id="Base_Dynamic_Where">
		<where>
			AND headline_examination_id = examination_id
			<if test="@Ognl@isNotEmpty(headlineExaminationId)">
				AND headline_examination_id = #{headlineExaminationId}
			</if>
			<if test="@Ognl@isNotEmpty(headlineHeadlineSubject)">
				AND headline_headline_subject like #{headlineHeadlineSubject}
			</if>
			<if test="@Ognl@isNotEmpty(headlineExaminationContent)">
				AND headline_examination_content like #{headlineExaminationContent}
			</if>
			<if test="@Ognl@isNotEmpty(headlineQuestionCount)">
				AND headline_question_count = #{headlineQuestionCount}
			</if>
			<if test="@Ognl@isNotEmpty(headlineScore)">
				AND headline_score = #{headlineScore}
			</if>
			<if test="@Ognl@isNotEmpty(headlinePattern)">
				AND headline_pattern = #{headlinePattern}
			</if>
			<if test="@Ognl@isNotEmpty(headlineAnswerPattern)">
				AND headline_answer_pattern = #{headlineAnswerPattern}
			</if>
			<if test="@Ognl@isNotEmpty(headlineSort)">
				AND headline_sort = #{headlineSort}
			</if>
			<if test="@Ognl@isNotEmpty(headlineQuestionType)">
				AND headline_question_type = #{headlineQuestionType}
			</if>
		</where>
	</sql>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />,examination_subject headline_examination_name
		from headline,examination 
		<include refid="Base_Dynamic_Where" />
		<if test="sortField != null">
			order by ${sortField} ${sortOrder}
		</if>
		<if test="sortField == null">
			order by headline_examination_id,headline_sort asc
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />,examination_subject headline_examination_name
		from headline,examination
		where headline_examination_id = examination_id AND headline_id = #{headlineId}  
	</select>
	<delete id="deleteByPrimaryKey">
		delete from headline
		where headline_id =
		#{headlineId}
	</delete>
	<insert id="insert" parameterType="cn.hnzxl.exam.project.model.Headline" useGeneratedKeys="true" keyProperty="headlineId">
		insert into headline (headline_id, headline_examination_id,
		headline_headline_subject, headline_examination_content,
		headline_question_count, headline_score, headline_pattern,
		headline_answer_pattern, headline_sort,headline_question_type)
		values (#{headlineId},
		#{headlineExaminationId},
		#{headlineHeadlineSubject},
		#{headlineExaminationContent},
		#{headlineQuestionCount},
		#{headlineScore}, #{headlinePattern},
		#{headlineAnswerPattern},
		#{headlineSort},
		#{headlineQuestionType})
	</insert>
	<insert id="insertSelective" parameterType="cn.hnzxl.exam.project.model.Headline"  useGeneratedKeys="true" keyProperty="headlineId">
		insert into headline
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="headlineId != null">
				headline_id,
			</if>
			<if test="headlineExaminationId != null">
				headline_examination_id,
			</if>
			<if test="headlineHeadlineSubject != null">
				headline_headline_subject,
			</if>
			<if test="headlineExaminationContent != null">
				headline_examination_content,
			</if>
			<if test="headlineQuestionCount != null">
				headline_question_count,
			</if>
			<if test="headlineScore != null">
				headline_score,
			</if>
			<if test="headlinePattern != null">
				headline_pattern,
			</if>
			<if test="headlineAnswerPattern != null">
				headline_answer_pattern,
			</if>
			<if test="headlineSort != null">
				headline_sort,
			</if>
			<if test="headlineQuestionType != null">
				headline_question_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="headlineId != null">
				#{headlineId},
			</if>
			<if test="headlineExaminationId != null">
				#{headlineExaminationId},
			</if>
			<if test="headlineHeadlineSubject != null">
				#{headlineHeadlineSubject},
			</if>
			<if test="headlineExaminationContent != null">
				#{headlineExaminationContent},
			</if>
			<if test="headlineQuestionCount != null">
				#{headlineQuestionCount},
			</if>
			<if test="headlineScore != null">
				#{headlineScore},
			</if>
			<if test="headlinePattern != null">
				#{headlinePattern},
			</if>
			<if test="headlineAnswerPattern != null">
				#{headlineAnswerPattern},
			</if>
			<if test="headlineSort != null">
				#{headlineSort},
			</if>
			<if test="headlineQuestionType != null">
				#{headlineQuestionType},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.hnzxl.exam.project.model.Headline">
		update headline
		<set>
			<if test="headlineExaminationId != null">
				headline_examination_id = #{headlineExaminationId},
			</if>
			<if test="headlineHeadlineSubject != null">
				headline_headline_subject = #{headlineHeadlineSubject},
			</if>
			<if test="headlineExaminationContent != null">
				headline_examination_content = #{headlineExaminationContent},
			</if>
			<if test="headlineQuestionCount != null">
				headline_question_count = #{headlineQuestionCount},
			</if>
			<if test="headlineScore != null">
				headline_score = #{headlineScore},
			</if>
			<if test="headlinePattern != null">
				headline_pattern = #{headlinePattern},
			</if>
			<if test="headlineAnswerPattern != null">
				headline_answer_pattern = #{headlineAnswerPattern},
			</if>
			<if test="headlineSort != null">
				headline_sort = #{headlineSort},
			</if>
			<if test="headlineQuestionType != null">
				headline_question_type=#{headlineQuestionType},
			</if>
		</set>
		where headline_id = #{headlineId}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.hnzxl.exam.project.model.Headline">
		update headline
		set headline_examination_id =
		#{headlineExaminationId},
		headline_headline_subject = #{headlineHeadlineSubject},
		headline_examination_content = #{headlineExaminationContent},
		headline_question_count =
		#{headlineQuestionCount},
		headline_score = #{headlineScore},
		headline_pattern =
		#{headlinePattern},
		headline_answer_pattern = #{headlineAnswerPattern},
		headline_sort
		= #{headlineSort},
		headline_question_type=#{headlineQuestionType}
		where headline_id = #{headlineId}
	</update>
</mapper>