<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hnzxl.exam.project.dao.QuestionMapper">
	<resultMap id="BaseResultMap" type="cn.hnzxl.exam.project.model.Question">
		<id column="question_id" property="questionId" jdbcType="BIGINT" />
		<result column="question_category_id" property="questionCategoryId" jdbcType="VARCHAR" />
		<result column="question_type" property="questionType" jdbcType="VARCHAR" />
		<result column="question_subject" property="questionSubject" jdbcType="VARCHAR" />
		<result column="question_answer" property="questionAnswer" jdbcType="VARCHAR" />
		<result column="question_right_answer" property="questionRightAnswer" jdbcType="VARCHAR" />
		<result column="question_score" property="questionScore" jdbcType="INTEGER" />
		<result column="question_analysis" property="questionAnalysis" jdbcType="VARCHAR" />
		<result column="question_status" property="questionStatus" jdbcType="INTEGER" />
		<result column="question_remark" property="questionRemark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		question_id, question_category_id, question_type, question_subject, question_answer,
		question_right_answer,
		question_score, question_analysis, question_status, question_remark
	</sql>

	<sql id="Base_Dynamic_Where">
		<where>
		<if test="questionCategoryId != null">
				AND question_category_id = #{questionCategoryId}
			</if>
			<if test="questionType != null">
				AND question_type like #{questionType}
			</if>
			<if test="questionSubject != null">
				AND question_subject like #{questionSubject}
			</if>
			<if test="questionAnswer != null">
				AND question_answer like #{questionAnswer}
			</if>
			<if test="questionRightAnswer != null">
				AND question_right_answer = #{questionRightAnswer}
			</if>
			<if test="questionScore != null">
				AND question_score = #{questionScore}
			</if>
			<if test="questionAnalysis != null">
				AND question_analysis = #{questionAnalysis}
			</if>
			<if test="questionStatus != null">
				AND question_status = #{questionStatus}
			</if>
			<if test="questionRemark != null">
				AND question_remark = #{questionRemark}
			</if>
		</where>
	</sql>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from question
		<include refid="Base_Dynamic_Where" />
		<if test="sortField != null">
			order by ${sortField} ${sortOrder}
		</if>
		<if test="sortField == null">
			order by question_subject desc
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from question
		where question_id = #{questionId}
	</select>
	<delete id="deleteByPrimaryKey" >
		delete from question
		where question_id =
		#{questionId}
	</delete>
	<insert id="insert" parameterType="cn.hnzxl.exam.project.model.Question" useGeneratedKeys="true" keyProperty="questionId">
		insert into question (question_id, question_category_id, question_type,
		question_subject, question_answer, question_right_answer,
		question_score, question_analysis, question_status,
		question_remark)
		values (#{questionId}, #{questionCategoryId},
		#{questionType},
		#{questionSubject}, #{questionAnswer},
		#{questionRightAnswer},
		#{questionScore}, #{questionAnalysis},
		#{questionStatus},
		#{questionRemark})
	</insert>
	<insert id="insertSelective" parameterType="cn.hnzxl.exam.project.model.Question"  useGeneratedKeys="true" keyProperty="questionId">
		insert into question
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="questionId != null">
				question_id,
			</if>
			<if test="questionCategoryId != null">
				question_category_id,
			</if>
			<if test="questionType != null">
				question_type,
			</if>
			<if test="questionSubject != null">
				question_subject,
			</if>
			<if test="questionAnswer != null">
				question_answer,
			</if>
			<if test="questionRightAnswer != null">
				question_right_answer,
			</if>
			<if test="questionScore != null">
				question_score,
			</if>
			<if test="questionAnalysis != null">
				question_analysis,
			</if>
			<if test="questionStatus != null">
				question_status,
			</if>
			<if test="questionRemark != null">
				question_remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="questionId != null">
				#{questionId},
			</if>
			<if test="questionCategoryId != null">
				#{questionCategoryId},
			</if>
			<if test="questionType != null">
				#{questionType},
			</if>
			<if test="questionSubject != null">
				#{questionSubject},
			</if>
			<if test="questionAnswer != null">
				#{questionAnswer},
			</if>
			<if test="questionRightAnswer != null">
				#{questionRightAnswer},
			</if>
			<if test="questionScore != null">
				#{questionScore},
			</if>
			<if test="questionAnalysis != null">
				#{questionAnalysis},
			</if>
			<if test="questionStatus != null">
				#{questionStatus},
			</if>
			<if test="questionRemark != null">
				#{questionRemark},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.hnzxl.exam.project.model.Question">
		update question
		<set>
			<if test="questionCategoryId != null">
				question_category_id = #{questionCategoryId},
			</if>
			<if test="questionType != null">
				question_type = #{questionType},
			</if>
			<if test="questionSubject != null">
				question_subject = #{questionSubject},
			</if>
			<if test="questionAnswer != null">
				question_answer = #{questionAnswer},
			</if>
			<if test="questionRightAnswer != null">
				question_right_answer = #{questionRightAnswer},
			</if>
			<if test="questionScore != null">
				question_score = #{questionScore},
			</if>
			<if test="questionAnalysis != null">
				question_analysis = #{questionAnalysis},
			</if>
			<if test="questionStatus != null">
				question_status = #{questionStatus},
			</if>
			<if test="questionRemark != null">
				question_remark = #{questionRemark},
			</if>
		</set>
		where question_id = #{questionId}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.hnzxl.exam.project.model.Question">
		update question
		set question_category_id =
		#{questionCategoryId},
		question_type = #{questionType},
		question_subject =
		#{questionSubject},
		question_answer = #{questionAnswer},
		question_right_answer =
		#{questionRightAnswer},
		question_score = #{questionScore},
		question_analysis =
		#{questionAnalysis},
		question_status = #{questionStatus},
		question_remark =
		#{questionRemark}
		where question_id = #{questionId}
	</update>
</mapper>