<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hnzxl.exam.project.dao.UserQuestionMapper">
	<resultMap id="BaseResultMap" type="cn.hnzxl.exam.project.model.UserQuestion">
		<id column="user_question_id" property="userQuestionId" jdbcType="BIGINT" />
		<result column="user_question_examination_id" property="userQuestionExaminationId" jdbcType="BIGINT" />
		<result column="user_question_headline_id" property="userQuestionHeadlineId" jdbcType="BIGINT" />
		<result column="user_question_userid" property="userQuestionUserid" jdbcType="BIGINT" />
		<result column="user_question_question_id" property="userQuestionQuestionId" jdbcType="VARCHAR" />
		<result column="user_question_score" property="userQuestionScore" jdbcType="INTEGER" />
		<result column="user_question_right_answer" property="userQuestionRightAnswer" jdbcType="VARCHAR" />
		<result column="user_question_user_answer" property="userQuestionUserAnswer" jdbcType="VARCHAR" />
		<result column="user_question_sort" property="userQuestionSort" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		user_question_id, user_question_examination_id, user_question_headline_id, user_question_userid,
		user_question_question_id, user_question_score, user_question_right_answer, user_question_user_answer
	</sql>

	<sql id="Base_Dynamic_Where">
		<where>
			<if test="userQuestionExaminationId != null">
				AND user_question_examination_id = #{userQuestionExaminationId}
			</if>
			<if test="userQuestionHeadlineId != null">
				AND user_question_headline_id = #{userQuestionHeadlineId}
			</if>
			<if test="userQuestionUserid != null">
				AND user_question_userid = #{userQuestionUserid}
			</if>
			<if test="userQuestionQuestionId != null">
				AND user_question_question_id = #{userQuestionQuestionId}
			</if>
			<if test="userQuestionScore != null">
				AND user_question_score = #{userQuestionScore}
			</if>
			<if test="userQuestionRightAnswer != null">
				AND user_question_right_answer = #{userQuestionRightAnswer}
			</if>
			<if test="userQuestionUserAnswer != null">
				AND user_question_user_answer = #{userQuestionUserAnswer}
			</if>
		</where>
	</sql>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from user_question
		<include refid="Base_Dynamic_Where" />
		<if test="sortField != null">
			order by ${sortField} ${sortOrder}
		</if>
		<if test="sortField == null">
			order by user_question_sort asc
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from user_question
		where user_question_id = #{userQuestionId}
	</select>
	<delete id="deleteByPrimaryKey" >
		delete from user_question
		where user_question_id =
		#{userQuestionId}
	</delete>
	<insert id="insertBatch" >
		insert into user_question (user_question_id, user_question_examination_id,
		user_question_headline_id, user_question_userid,
		user_question_question_id, user_question_score,
		user_question_right_answer, user_question_user_answer,user_question_sort
		)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.userQuestionId},
			#{item.userQuestionExaminationId},
			#{item.userQuestionHeadlineId},
			#{item.userQuestionUserid},
			#{item.userQuestionQuestionId},
			#{item.userQuestionScore},
			#{item.userQuestionRightAnswer},
			#{item.userQuestionUserAnswer},
			#{item.userQuestionSort}
			)
		</foreach>
		 
	</insert>
	<insert id="insert" parameterType="cn.hnzxl.exam.project.model.UserQuestion" useGeneratedKeys="true" keyProperty="userQuestionId">
		insert into user_question (user_question_id, user_question_examination_id,
		user_question_headline_id, user_question_userid,
		user_question_question_id, user_question_score,
		user_question_right_answer, user_question_user_answer,user_question_sort
		)
		values (#{userQuestionId},
		#{userQuestionExaminationId},
		#{userQuestionHeadlineId},
		#{userQuestionUserid},
		#{userQuestionQuestionId},
		#{userQuestionScore},
		#{userQuestionRightAnswer},
		#{userQuestionUserAnswer},
		#{userQuestionSort}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="cn.hnzxl.exam.project.model.UserQuestion" useGeneratedKeys="true" keyProperty="userQuestionId">
		insert into user_question
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userQuestionId != null">
				user_question_id,
			</if>
			<if test="userQuestionExaminationId != null">
				user_question_examination_id,
			</if>
			<if test="userQuestionHeadlineId != null">
				user_question_headline_id,
			</if>
			<if test="userQuestionUserid != null">
				user_question_userid,
			</if>
			<if test="userQuestionQuestionId != null">
				user_question_question_id,
			</if>
			<if test="userQuestionScore != null">
				user_question_score,
			</if>
			<if test="userQuestionRightAnswer != null">
				user_question_right_answer,
			</if>
			<if test="userQuestionUserAnswer != null">
				user_question_user_answer,
			</if>
			<if test="userQuestionSort != null">
				user_question_sort,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userQuestionId != null">
				#{userQuestionId},
			</if>
			<if test="userQuestionExaminationId != null">
				#{userQuestionExaminationId},
			</if>
			<if test="userQuestionHeadlineId != null">
				#{userQuestionHeadlineId},
			</if>
			<if test="userQuestionUserid != null">
				#{userQuestionUserid},
			</if>
			<if test="userQuestionQuestionId != null">
				#{userQuestionQuestionId},
			</if>
			<if test="userQuestionScore != null">
				#{userQuestionScore},
			</if>
			<if test="userQuestionRightAnswer != null">
				#{userQuestionRightAnswer},
			</if>
			<if test="userQuestionUserAnswer != null">
				#{userQuestionUserAnswer},
			</if>
			<if test="userQuestionSort != null">
				#{userQuestionSort},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.hnzxl.exam.project.model.UserQuestion">
		update user_question
		<set>
			<if test="userQuestionExaminationId != null">
				user_question_examination_id = #{userQuestionExaminationId},
			</if>
			<if test="userQuestionHeadlineId != null">
				user_question_headline_id = #{userQuestionHeadlineId},
			</if>
			<if test="userQuestionUserid != null">
				user_question_userid = #{userQuestionUserid},
			</if>
			<if test="userQuestionQuestionId != null">
				user_question_question_id = #{userQuestionQuestionId},
			</if>
			<if test="userQuestionScore != null">
				user_question_score = #{userQuestionScore},
			</if>
			<if test="userQuestionRightAnswer != null">
				user_question_right_answer = #{userQuestionRightAnswer},
			</if>
			<if test="userQuestionUserAnswer != null">
				user_question_user_answer = #{userQuestionUserAnswer},
			</if>
		</set>
		where user_question_id = #{userQuestionId}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.hnzxl.exam.project.model.UserQuestion">
		update user_question
		set user_question_examination_id =
		#{userQuestionExaminationId},
		user_question_headline_id = #{userQuestionHeadlineId},
		user_question_userid = #{userQuestionUserid},
		user_question_question_id =
		#{userQuestionQuestionId},
		user_question_score = #{userQuestionScore},
		user_question_right_answer = #{userQuestionRightAnswer},
		user_question_user_answer =
		#{userQuestionUserAnswer}
		where user_question_id = #{userQuestionId}
	</update>
	<!-- 
	更新问题答案
	 -->
	<update id="updateUserRightAnswer" parameterType="cn.hnzxl.exam.project.model.UserQuestion">
		update user_question
		set 
		user_question_user_answer = #{userQuestionUserAnswer}
		where user_question_examination_id = #{userQuestionExaminationId}
		AND user_question_userid = #{userQuestionUserid}
		AND user_question_question_id = #{userQuestionQuestionId}
	</update>
	<update id="updateUserRightAnswer2" >
		<foreach collection="list" item="item" separator=";">
			update user_question
			set 
			user_question_user_answer = #{item.userQuestionUserAnswer}
			where user_question_examination_id = #{item.userQuestionExaminationId}
			AND user_question_userid = #{item.userQuestionUserid}
			AND user_question_question_id = #{item.userQuestionQuestionId}
		</foreach>
	</update>
	
	
	<!-- 
	获取用户分数
	 -->
	 <select id="selectUserScore" resultType="java.lang.Integer" parameterType="cn.hnzxl.exam.project.model.UserQuestion">
		SELECT Sum(user_question.user_question_score)
		FROM user_question
		WHERE user_question.user_question_right_answer = user_question.user_question_user_answer
			AND user_question_examination_id = #{userQuestionExaminationId}
			AND user_question_userid = #{userQuestionUserid}
	</select>
	<!-- 
		前10答对排名
	 -->
	<select id="selectRightSort" resultType="java.util.Map" parameterType="cn.hnzxl.exam.project.model.UserQuestion">
		SELECT
			t2.question_type type,
			t1.user_question_question_id,
			t2.question_subject questionSubject,
			count(*) count
		FROM
			user_question t1,
			question t2
		WHERE
			t1.user_question_question_id = t2.question_id
		AND t1.user_question_right_answer = t1.user_question_user_answer
		GROUP BY
			t1.user_question_question_id
		ORDER BY
			count DESC
		LIMIT 10
	</select>
	
	<!-- 
		前10答错排名
	 -->
	<select id="selectErrorSort" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			t2.question_type type,
			t1.user_question_question_id,
			t2.question_subject questionSubject,
			count(*) count
		FROM
			user_question t1,
			question t2
		WHERE
			t1.user_question_question_id = t2.question_id
		AND t1.user_question_right_answer != t1.user_question_user_answer
		GROUP BY
			t1.user_question_question_id
		ORDER BY
			count DESC
		LIMIT 10
	</select>
</mapper>